html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

body {
  background: #181818;
}

/*this is the class that contains all the navbar elements*/
.navbar {
  background-color: #202020;
  position: sticky;
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*This is the container of the hamburger element container*/
.hamburger-icon-container {
  padding: 0px 10px 0px 20px;
}

/*this is the parent-container of the grid items children of the hamburger icon*/
.hamburger-icon {
  display: grid;
  background: #202020;
  grid-template-columns: 18px;
  grid-template-rows: 2px 2px 2px;
  row-gap: 3px;
  padding: 4px;
  border-radius: 5px;
  width: 18px;
}

/*This is the hamburger icon lines*/
.hamburger-line {
  background: white;
  grid-column: 1 / 4; 
}


/*This is the container of the youtube logo*/
.youtube-logo-container {
  padding: 0px 20px 0px 10px;
}

/*This si the actual youtube logo image id*/
#youtube-logo {
  width: 110px;
}

/*This is the whole search bar container that contains the input form, button and mic icon.
It has a 100% width so it goes all the way from the youtube logo to the top-right items, but
even if it is 100% width it doesn't affect the actual search bar input form, because it has 
its own container that keeps it from extending longer than 650px.*/
.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*This is the search bar that contains the input form and the button.
Its width directly affects the search bar input width.*/
.search-bar {
  max-width: 650px;
  min-width: 300px;
  width: 100%;
}

/*It keeps the input form bar and the button in a straight line (side by side)*/
.search-bar-form {
  display: flex;
}

/*the css of the input bar. Being 100% in width occupies all the space available in its parent
container (minus the space occupied by the other elements since the parent container is set to
use display flex (so items are aligned side by side))*/
.nav-input-bar {
  height: 30px;
  background: #121212;
  border: 1px solid;
  border-color: #323232;
  width: 100%;
}

/*this move the placeholder a lil bit to the right*/
.nav-input-bar::placeholder {
  padding-left: 10px;
}

/*css of the search button near the input bar. pretty self explanatory*/
.nav-input-search-button {
  background: #323232;
  border: none;
  border-radius: 0px 2px 2px 0px;
  padding: 9px 20px 9px 20px;
}

/*container of the microphone icon that aligns it to the center vertically
justify-content aligns items horizontally
align-items aligns items vertically*/
.microphone-icon-container {
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 15px;
}

#microphone-icon {
  height: 20px;
}

#search-icon {
  margin-bottom: -2px;
  width: 15px;
}

/*container of the items in the top-right of the page*/
.nav-right-items-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0px 30px 0px 30px;
}

/*This is the class that adds padding between the top-right items in the navbar
This class is applied to every item*/
.nav-right-item-container-padding {
  padding: 0px 15px 0px 15px;
}

#bell-icon {
  height: 20px;
}

/*This is the css that makes up the grid icon in the top-right*/
.grid-icon {
  display: grid;
  grid-template-columns: 4px 4px 4px;
  grid-template-rows: 4px 4px 4px;
  grid-gap: 2px;
}

.grid-item-container {

}

.grid-icon-element {
  background: #999999;
}

