html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

body {
  background: #181818;
  font-family: 'Roboto', sans-serif;
}

/*this is the class that contains all the navbar elements*/
.navbar {
  background-color: #202020;
  position: sticky;
  z-index: 100; /*This handles the behavior of items that overlap. In this case it puts the element on top of others*/
  top: 0; /*This makes the absolute position of the element on top 0*/
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*This is the container of the hamburger element container*/
.hamburger-icon-container {
  padding: 0px 10px 0px 20px;
}

/*this is the parent-container of the grid items children of the hamburger icon*/
.hamburger-icon {
  display: grid;
  background: #202020;
  grid-template-columns: 18px;
  grid-template-rows: 2px 2px 2px;
  row-gap: 3px;
  padding: 4px;
  border-radius: 5px;
  width: 18px;
}

/*This is the hamburger icon lines*/
.hamburger-line {
  background: white;
  grid-column: 1 / 4; 
}


/*This is the container of the youtube logo*/
.youtube-logo-container {
  padding: 0px 20px 0px 10px;
}

/*This si the actual youtube logo image id*/
#youtube-logo {
  width: 110px;
}

/*This is the whole search bar container that contains the input form, button and mic icon.
It has a 100% width so it goes all the way from the youtube logo to the top-right items, but
even if it is 100% width it doesn't affect the actual search bar input form, because it has 
its own container that keeps it from extending longer than 650px.*/
.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*This is the search bar that contains the input form and the button.
Its width directly affects the search bar input width.*/
.search-bar {
  max-width: 650px;
  min-width: 300px;
  flex-basis: 75%; /*flex basis makes the bar shrink in proportion with the space available*/
}

/*It keeps the input form bar and the button in a straight line (side by side)*/
.search-bar-form {
  display: flex;
}

/*the css of the input bar. Being 100% in width occupies all the space available in its parent
container (minus the space occupied by the other elements since the parent container is set to
use display flex (so items are aligned side by side))*/
.nav-input-bar {
  height: 30px;
  background: #121212;
  border: 1px solid;
  border-color: #323232;
  width: 100%;
  padding-left: 10px; /*This adds padding for the placeholder*/
  color: white;
}

/*this move the placeholder a lil bit to the right
This line of code is no longer needed since adding padding directly to the 
input bar acts on the placeholder text
.nav-input-bar::placeholder {
  padding-left: 10px;
  color: white;
}
*/

/*css of the search button near the input bar. pretty self explanatory*/
.nav-input-search-button {
  background: #323232;
  border: none;
  border-radius: 0px 2px 2px 0px;
  padding: 9px 20px 9px 20px;
}

/*container of the microphone icon that aligns it to the center vertically
justify-content aligns items horizontally
align-items aligns items vertically*/
.microphone-icon-container {
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 15px;
}

#microphone-icon {
  height: 20px;
}

#search-icon {
  margin-bottom: -2px;
  width: 15px;
}

/*container of the items in the top-right of the page*/
.nav-right-items-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

/*This is the class that adds padding between the top-right items in the navbar
This class is applied to every item*/
.nav-right-item-container-padding {
  padding: 0px 15px 0px 15px;
}

#bell-icon {
  height: 20px;
}

/*This is the css that makes up the grid icon in the top-right*/
.grid-icon {
  display: grid;
  grid-template-columns: 4px 4px 4px;
  grid-template-rows: 4px 4px 4px;
  grid-gap: 2px;
}

/*Colors of the little blocks in the grid icon in the top right*/
.grid-icon-element {
  background: #999999;
}

/*css of the top-right round google profile image*/
.google-profile-image {
  content: "";
  background: #1E887A;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans;
  font-size: 20px;
}

.main-container { 
  height: 100%;
  padding: 22px 0px 0px 0px; 
  display: flex;
  justify-content: center;
}

.video-player {
  width: 100%;
  height: 100%;
}


.suggested-videos-container {
  min-width: 400px; /*30px height delete later*/
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*The container that has inside of it the replay chat button. It is placed on top
of the suggested videos column.*/
#chat-replay-button-container {
  height: 30px;
  padding: 0px 0px 19px 0px;
}

#chat-replay-button {
  background: #181818;
  border: solid 1px;
  border-color: #303030;
  color: #CFCFCF;
  width: 100%;
  height: 100%;
  font-size: 11px;
}

.suggested-video-element-container {
  display: flex;
  justify-content: flex-start;
  min-height: 92px;
  width: 100%;
  padding: 3px 0px 3px 0px;
}

.suggested-video-thumbnail-container {
  min-width: 165px;
  max-width: 165px;
  height: 100%;
}

.suggested-video-thumbnail {
  width: 100%;
}

/*keeps the video info separately from the video name
and displays the videos in column. The video name and view have
to stay in separate divs*/
.suggested-video-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 232px;
  max-height: 92px;
  font-family: 'Roboto', sans-serif;
  padding: 0px 0px 0px 7px;
}

/*Contains the name of the video*/
.suggested-video-name {
  color: white;
  font-weight: 800px;
  font-size: 13px;
}

/*Contains the video author name, views and how long ago the video was published*/
.suggested-video-details-container {
  color: #AAAAAA;
  font-size: 11px;
  font-weight: 400px;
  padding: 10px 0px 0px 0px;
}

/*This padding applies to the 2 main flex columns, the left one contains the video player and
the comment section. The right one contains all the suggested videos.*/
.main-columns-padding {
  padding: 0px 11px 0px 11px;
}

/*is just the padding around the name of the channel, under the suggested videos in the
right main column*/
.suggested-video-artist-name {
  padding: 0px 0px 7px 0px;
}

/*Is the first section under the video player that contains the video name on the left
and the video likes, share,save, and the 3 dots on the right*/
.video-info-and-likes-container {
  display: flex;
  justify-content: space-between;
  min-height: 90px;
  max-height: 90px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/*the section that contains the video title and the number of views*/
.video-title-and-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 5px 0px 5px 0px;
}

.video-title-container {
  font-size: 20px;
}

/*contains the video views and the date published*/
.video-info-container {
  color: #A8A8A8;
  font-size: 15px;
}

/*contains the likes bar, icons, share, save and 3 dots*/
.likes-bar-tools-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #909090;
}

/*the padding between the likes icons, share and save*/
.padding-between-tools {
  padding: 0px 8px 0px 8px;
}

.likes-and-bar-container {
  display: flex;
  flex-direction: column;
}

.likes-icons-container {
  display: flex;
  justify-content: space-around;
  width: 135px;
}

.likes-bar-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

#likes-bar {
  height: 2px;
  width: 100%;
  background: #909090;
}

.like-icon-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  padding: 0px 0px 18px 0px;
}

.tools-container {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  gap: 20px;
}

.share-save-icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
}

/*contains the channel profile pic, the name of the channel, subscribers, video desc, show more
button, subscribe button*/
.channel-and-video-desc-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  display: flex;
  padding: 16px 0px 16px 0px;
  gap: 16px;
}

#channel-photo{
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.channel-name-and-desc-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 16px;
  gap: 22px;
}

.channel-name-and-subs-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  height: 50px;
}

.channel-subscribers-container {
  color: #A1A1A1;
  font-size: 13px;
}

#channel-name {
  font-weight: bold;
}

.video-desc-container {
  font-size: 14px;
}

.show-more-button-container {
  color: #898989;
  font-size: 14px;
}

.subscribe-button-container {
  height: 50px;
  min-width: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#subscribe-button {
  height: 36px;
  width: 106px;
  background: #CC1100;
  color: white;
  border: none;
  border-radius: 2px;
  font-weight: 800;
}

/*section that contains the form to post a new comment, and the number of comments on the video,
and the SORT BY button*/
.comments-form-and-number-parent-container {
  height: 135px;
  width: 100%;
  display: flex;
  align-items: center;
}

.comments-form-and-numbers-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.comments-number-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  font-size: 19px;
  height: 100%;
}

.comments-number {
  color: white;
}

.comments-sort-by-container {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #898989;
}

.grid-sort-by-icon {
  display: grid;
  grid-template-columns: 6px 6px 6px;
  grid-template-rows: 2px 2px 2px; 
  row-gap: 3px;
}

.grid-sort-by-element-1{
  background: #898989;
  grid-column-start: 1;
  grid-column-end: 4;
}

.grid-sort-by-element-2{
  background: #898989;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}

.grid-sort-by-element-3{
  background: #898989;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
}

.profile-photo-and-comment-form-container{
  display: flex;
  height: 100%;
  gap: 16px;
}

.comment-profile-photo-container {
  max-width: 40px;
  max-height: 40px;
}

.comment-profile-photo {
  background: #1E887A;
  min-width: 40px;
  min-height: 40px;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.comment-form-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color:white;
  max-height: 25px;
  padding-top: 3px;
  width: 100%;
  color: #898989;
}

/*is the container that wraps all the individual comments*/
.comment-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  gap: 30px;
}

/*is the container that wraps the sample of a single individual comment*/
.comment-parent-container {
  display: flex;
  gap: 16px;
}

.comment-profile-pic {
  min-width: 40px;
  border-radius: 50%;
  background: white;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
}

.comment-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

.user-name-and-comment-date-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.user-name-container {
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.comment-date-container {
  color: #909090;
  font-size: 14px;
}

.comment-content-container {
  color: white;
  font-size: 15px;
}

.comment-likes-container {
  display: flex;
  gap: 10px;
}

.comment-likes-and-dislikes-icons {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  align-items: center;
  color: #909090;
  font-size: 13px;
  padding: 12px 0px 12px 0px;
}

.comment-like-button-size {
  width: 13px;
}

.view-comment-replies-container {
  display: flex;
  color: #40A6FF;
  font-weight: 800;
  font-size: 15px;
  align-items: center;
  gap: 15px;
}

.arrow {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #40A6FF;
}
